<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title><%=locals.title%></title>
</head>
<body>
    <p id="para">registration form for examination in my college</p>

    <div>
        <ul>
               
            <% for (let i of contact_list) { %> 
               <div class="contact"> 

                    <li>
                        <p><%= i.FirstName %></p>
                        <p><%= i.LastName %></p>
                        <p><%= i.phone %></p>
                        <p><%= i.email %></p>
                        <p><%= i.gender %></p>
                        <p><%= i.age %></p>
                        <p><%= i.date %></p>


                        
                        

                        
                    </li>
                </div>
                <div class="delete-button">
                    <a href="/delete-contact/?phone=<%= i.phone %>">
                        <span><i class="fa fa-trash-o" style="font-size:24px; color: crimson;"></i></span>

                    </a>
                    <!-- <span><i class="fa fa-trash-o" style="font-size:24px; color: crimson;"></i></span> -->
                </div>
            <% } %>
        </ul>
    </div>

   
    
    <form action="/create-contact" method="POST">
        <select name="category" id="category">
            <option value="mid-sem">1st mid-sem</option>
            <option value="mid-sem">2nd mid-sem</option>

            <option value="mid-sem">assignment</option>

            <option value="mid-sem">Final-sem</option>


        </select>
    <input type="text" name="FirstName" placeholder="FirstName" required>
    <input type="text" name="LastName" placeholder="LastName" required>

    <input type="phone" name="phone" placeholder="Phone" required>
    <input type="email" name="email" placeholder="Email" required>
    <input type="gender" name="gender" placeholder="Gender" required>
    <input type="age" name="age" placeholder="Age" required>
    <input type="date" name="date" placeholder="date" required>



    <button class="btn">Add Contact</button>
    </form>


</body>
</html>